{% extends "base.html" %}
{% block title %}Table{% endblock %}
{% block h2text %}Таблица редактирования{% endblock %}
{% block content %}
{%- if 'admin' in rule or 'edit' in rule -%}
<button type="button" class="btn btn-primary float-right" onclick="setModalNew()">Добавить пользователя</button>
{% endif %}
<table class="table table-sm">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Email</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            {%- if 'admin' in rule or 'edit' in rule -%}
            <th scope="col">Rules</th>
            <th scope="col">Action</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for item in items -%}
        {% if item.delete %}
        <tr class="table-danger">
        {% else %}
        <tr>
        {% endif %}
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.email }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.surname }}</td>
        {% if 'admin' in rule or 'edit' in rule %}
        <td>{{ item.rules }}</td>
        <td>
            <div class="btn-group btn-group-sm" role="group">
                <button type="button" class="btn btn-warning" onclick="editUser({{ item.id }})">Edit</button>
                <button type="button" class="btn btn-danger" onclick="deleteUser({{ item.id }})">Delete</button>
                {% if 'admin' in rule %}
                <button type="button" class="btn btn-primary" onclick="restoreUser({{ item.id }})">Restore</button>
                {% endif %}
            </div>
        </td>
        {% endif %}
        </tr>
        {%- endfor %}
    </tbody>
</table>

<div class="modal fade" id="editmodal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">User data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" accept-charset="utf-8"
                  enctype="application/x-www-form-urlencoded" onsubmit="submitForm(event, this)">
                <div class="modal-body">
                    {% if 'admin' in rule or 'edit' in rule %}
                    <input type="hidden" id="id">
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label col-form-label-sm">Email:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control form-control-sm" id="email" required/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-sm-2 col-form-label col-form-label-sm">Password:</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control form-control-sm" id="password" required/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-sm-2 col-form-label col-form-label-sm">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control form-control-sm" id="name"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="surname" class="col-sm-2 col-form-label col-form-label-sm">Surname:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control form-control-sm" id="surname"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="rules" class="col-sm-2 col-form-label col-form-label-sm">Rules:</label>
                        <div class="col-sm-10" id="rules">
                            {% if 'admin' in rule %}
                            <div class="form-check form-check-inline">
                                <input name="admin" class="form-check-input" type="checkbox" id="adminCheckbox">
                                <label class="form-check-label" for="adminCheckbox">Admin</label>
                            </div>
                            {% endif %}
                            <div class="form-check form-check-inline">
                                <input name="edit" class="form-check-input" type="checkbox" id="editCheckbox">
                                <label class="form-check-label" for="editCheckbox">Editor</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input name="view" class="form-check-input" type="checkbox" id="viewCheckbox">
                                <label class="form-check-label" for="viewCheckbox">Viewer</label>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
// Filling a modal form and spoofing a send event
function setModalEdit(user) {
    const modal = $('#editmodal')

    modal.find('#id').val(user.id)
    modal.find('#email').val(user.email)
    modal.find('#password').val(user.password)
    modal.find('#name').val(user.name)
    modal.find('#surname').val(user.surname)

    {% if 'admin' in rule %}
    modal.find('#adminCheckbox').prop('checked', user.rules.indexOf('admin') != -1);
    {% endif %}
    modal.find('#editCheckbox').prop('checked', user.rules.indexOf('edit') != -1);
    modal.find('#viewCheckbox').prop('checked', user.rules.indexOf('view') != -1);

    modal.modal('show')

    submitForm = function(event, form){
        console.log('submitForm edit');
        event.preventDefault();
        evalFetch('/table/update ', JSON.stringify({
            id: form.id.value,
            email: form.email.value,
            password: form.password.value,
            name: form.name.value,
            surname: form.surname.value,
            {% if 'admin' in rule %}
            admin: form.admin.checked,
            {% endif %}
            edit: form.edit.checked,
            view: form.view.checked
        }));
    };
}

// Clear a modal form and spoofing a send event
function setModalNew() {
    const modal = $('#editmodal')

    modal.find('#id').val('')
    modal.find('#email').val('')
    modal.find('#password').val('')
    modal.find('#name').val('')
    modal.find('#surname').val('')

    {% if 'admin' in rule %}
    modal.find('#adminCheckbox').prop('checked', false);
    {% endif %}
    modal.find('#editCheckbox').prop('checked', false);
    modal.find('#viewCheckbox').prop('checked', false);

    modal.modal('show')

    submitForm = function(event, form){
        console.log('submitForm new');
        event.preventDefault();
        evalFetch('/table/create ', JSON.stringify({
            id: form.id.value,
            email: form.email.value,
            password: form.password.value,
            name: form.name.value,
            surname: form.surname.value,
            {% if 'admin' in rule %}
            admin: form.admin.checked,
            {% endif %}
            edit: form.edit.checked,
            view: form.view.checked
        }));
    };
}

function editUser(id) {
    console.log('editUser', id, `{"id":"${id}"}`);

    fetch('/table/read', {
        method: 'post',
        body: `{"id":"${id}"}`
    }).then(function(response) {
        console.log('response', response);
        return response.json();
    }).then(function(data) {
        console.log('user data', data);
        setModalEdit(data);
    }).catch(function(err) {
        console.log('Error', err);
        setModalMessage(err.message);
    });
}

function deleteUser(id) {
    console.log('deleteUser', id, `{"id":"${id}"}`);
    evalFetch('/table/delete', `{"id":"${id}"}`);
}

function restoreUser(id) {
    console.log('restoreUser', id, `{"id":"${id}"}`);
    evalFetch('/table/restore', `{"id":"${id}"}`);
}
</script>
{% endblock %}